@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: auto !important;
    padding: 0;
    background-color: #787A91 !important;
    max-width: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: auto;
    color: white;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
}

.header {
    padding: 20px;
    background-color: #0f044c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    h1 {
        font-size: 2rem;
        font-weight: 800;
    }
    .rs-navbar {
        background-color: transparent;
        color: white;
        button {
            font-size: 1.2rem !important;
        }
        ul {
            font-size: 1rem !important;
        }
    }
}

.topTv {
    margin: 20px 0;
    color: white;
    .top-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
          text-decoration: none;
          font-size: 1rem;
          color: white;
      }  
    }
}
